figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

/* For use with https://github.com/aFarkas/lazysizes */
.lazyload,
.lazyloading {
	opacity: 0;
}
.lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
}