{% comment %}
Slick slider of products from a chosen collection
{% endcomment %}

{%- assign products = collections[section.settings.collection].products -%}

{%- if products.size > 0 -%}
  <div vue-init v-cloak class="featured-products container">

    {%- if section.settings.title != blank -%}
      <h2 class="h1">{{ section.settings.title }}</h2>
    {%- endif -%}

    <slick class="slick-slider--products"
      :options="{
      slidesToShow: 3,
      arrows: true,
      dots: false,
      responsive: [{
          breakpoint: 768,
          settings: {
              slidesToShow: 1,
              arrows: true,
              dots: true
          }
      }]
    }">
      {%- for product in products limit: 9 -%}
          <product-item inline-template :product='{{ product | json | escape }}'>
            {% render 'product-item' %}
          </product-item>
      {%- endfor -%}
    </slick>

  </div>
{%- endif -%}

{% schema %}
{
  "name": "Featured products",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "header",
      "content": "Products"
    },
    {
      "type": "paragraph",
      "content": "Display up to 9 products from a collection. The order will be the same as the order set in the collection admin."
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Featured products",
      "category": "Products"
    }
  ]
}
{% endschema %}
