@function em($target, $context: $font-size-body) {
  @if $target == 0 {
    @return 0;
  }
  @return $target / $context + 0em;
}


/**
 * Returns the transition properties in the correct format
 * This function is used by @mixin transition($transitions...)
 */
@function get-transition-properties($transition) {
  $property: all;
  $duration: $transition-duration;
  $easing: $transition-timing;
  $delay: null;

  $defaultProperties: (
    $property,
    $duration,
    $easing,
    $delay
  );

  $properties: ();

  @for $i from 1 through length($defaultProperties) {
    $p: null;

    @if $i <= length($transition) {
      $p: nth($transition, $i);
    } @else {
      $p: nth($defaultProperties, $i);
    }

    $properties: append($properties, $p);
  }

  @return $properties;
}

/**
 * String replace function for SASS
 * This function is used by @mixin font-face(...)
 */
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}