.paswword__landing {
  width: 100%;
  max-width: 350px;
  padding: $gutter / 2;
  text-align: center;
}

#Login {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;

  @at-root .login__close {
    position: absolute;
    top: $gutter;
    right: $gutter;
    padding: $gutter / 2;
    line-height: 1;
  }
}

.fade {
  &-enter-active, &-leave-active {
    transition: $transition;  
  }

  &-enter, &-leave-to {
    opacity: 0;
  }
}